{{ define "main" }}
<main role="main">
    <div class="uk-container-expand wl-team-hero uk-position-relative">
        <div class="uk-container uk-light uk-padding-large">
            <div ckass="uk-child-width-1-1" uk-grid>
                <div>
                    {{.Content}}
                </div>
            </div>
        </div>
        <img alt="brush stroke" src='{{ (resources.Get "img/brush-stroke.svg").RelPermalink }}'
            style="position: absolute; bottom: -1vw; width: 100%;" />
    </div>
    <div class="uk-container uk-position-relative uk-position-z-index">
        {{ with .GetPage "team" }}
        <div class="uk-flex-center uk-child-width-1-3@m uk-child-width-1-2" uk-grid>
            {{ range .Pages }}
            {{- partial "person-teaser.html" . -}}
            {{ end }}
        </div>
        {{ end }}
    </div>
</main>
{{ end }}