{{ define "main" }}
<main aria-role="main">
    <div class="uk-container-expand wl-team-hero">
        <div class="uk-container uk-text-lead uk-light">
            {{.Content}}
        </div>
    </div>
    <div class="uk-container uk-position-relative uk-position-z-index">
        {{ with .GetPage "team" }}
        <div class="uk-child-width-1-3" uk-grid>
            {{ range .Pages }}
                {{- partial "person-teaser.html" . -}}
            {{ end }}
        </div>
        {{ end }}
    </div>
</main>
{{ end }}