{{ define "main" }}
<main role="main">
    <div class="uk-container uk-margin-large-top">
        <div class="uk-flex uk-grid-large wl-person">
            <div class="wl-person-nav">
                {{ with .PrevInSection }}
                <a href="{{ .RelPermalink }}">
                    <span class="wl-inline-svg uk-text-large">
                        {{(resources.Get "img/arrow-left.svg").Content | safeHTML }}
                    </span>
                </a>
                {{ end }}
            </div>
            <div class="uk-flex uk-flex-wrap uk-flex-center uk-grid-large" uk-grid>

                <div class="uk-width-1-3@m uk-width-4-5">
                    {{ with .Parent.Resources.Get (print .File.TranslationBaseName ".jpg") }}
                    {{ $img := .Fill "400x400 Lanczos TopLeft" }}
                    <img class="uk-border-circle uk-box-shadow-medium" src="data:{{ .MediaType}};base64,{{ $img.Content | base64Encode }}"
                        alt="{{ .Title }} icon">
                    {{ end }}
                </div>

                <div class="uk-width-2-3@m uk-width-1-1">
                    <h3>{{.Title}}</h3>
                    <div class="wl-role">{{.Params.role}}</div>
                    <div class="wl-email">E-Mail <a href="mailto:{{.Params.email}}">{{.Params.email}}</a></div>
                    <div class="wl-note">{{.Content}}</div>
                    {{ with .Params.edu }}
                    <p>Qualifikationen</p>
                    <ul>{{range .}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    {{ end }}
                </div>
            </div>
            <div class="wl-person-nav">
                {{ with .NextInSection }}
                <a href="{{ .RelPermalink }}">
                    <span class="wl-inline-svg uk-text-large">{{
                        (resources.Get "img/arrow-right.svg").Content | safeHTML }}
                    </span>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}