// from https://google-webfonts-helper.herokuapp.com/
/* magra-700 - latin */
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url('.{{ (resources.Get "fonts/magra-v14-latin-700.woff2").RelPermalink }}')
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('.{{ (resources.Get "fonts/magra-v14-latin-700.woff").RelPermalink }}')
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* magra-regular - latin */
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url('.{{ (resources.Get "fonts/magra-v14-latin-regular.woff2").RelPermalink }}')
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('.{{ (resources.Get "fonts/magra-v14-latin-regular.woff").RelPermalink }}')
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// 1. Your custom variables and variable overwrites.

$wl-orange: #f0871b;
$wl-blue: #1382bb;
$wl-black: #000;
$wl-white: #fff;

$base-body-color: $wl-black;
$base-header-color: $wl-black;
$global-link-color: $wl-blue;
$global-font-family: Magra, sans-serif;
$inverse-global-color: $wl-white;
$navbar-nav-item-text-transform: initial;
$navbar-background: $wl-white;
$navbar-nav-item-color: $wl-black;
$navbar-nav-item-padding-horizontal: 1rem;
$navbar-nav-item-font-size: 1rem;
$navbar-dropdown-nav-font-size: 1rem;
$navbar-dropdown-margin: -10px;
$navbar-dropdown-viewport-margin: 0;

// 2. Import default variables and available mixins.
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() {
//   color: #000;
// }

// 4. Import UIkit.
@import "../uikit/src/scss/uikit-theme.scss";

.wl-link-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  > li:nth-child(1) {
    border-top-style: solid;
  }
  > li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $wl-black;
  }
}

a {
  color: $wl-black;
  &:hover {
    text-decoration: none;
    color: $wl-blue;
    svg path {
      fill: $wl-blue;
    }
  }
}

.wl-brush-box {
  border-image-source: url('.{{ (resources.Get "img/border-image-brush.svg").RelPermalink }}');
  border-image-width: 15px;
  border-image-slice: 14 fill;
  border-style: solid;
  border-width: 15px;
  padding: 25px;
  h2 {
    margin-top: 0;
    hyphens: manual;
  }
  div {
    hyphens: auto;
  }
  li {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    position: relative;
    a {
      display: block;
      position: relative;
      .wl-inline-svg {
        position: absolute;
        right: 0;
        svg {
          height: 3ex;
        }
      }
    }
  }
  .wl-double-height li a .wl-inline-svg {
    top: 0.6rem;
    svg {
      height: 4ex;
      width: 4ex;
    }
  }
}
.wl-person-nav {
    width: 10rem;
    margin-top: 20vw;
    @media (min-width: $breakpoint-small) {
        margin-top: 10rem;
    }
}
.wl-intro {
  > div {
    h2 {
      color: $wl-blue;
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    div.wl-icon {
    text-align: right;
      min-width: 80px;
    }
    margin-bottom: 2ex;
    @media (min-width: $breakpoint-small) {
      h2 {
        font-size: 1.2rem;
      }
    }
    @media (min-width: $breakpoint-medium) {
      h2 {
        font-size: 2rem;
      }
      div.wl-icon {
        min-width: 150px;
      }
    }
  }
}
.wl-team-pick-homepage {
  a:last-child {
    display: none;
    @media (min-width: $breakpoint-small) {
      display: block;
    }
  }
}
.wl-intro-block {
  hyphens: auto;
  font-size: 1.2rem;
  padding: 0 2.4rem;

  @media (min-width: $breakpoint-small) {
    z-index: 10;
    margin-top: -10ex;
    > div p {
      font-size: 1.7rem;
    }
  }
}
.wl-person-teaser {
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.05s ease-in-out;
  }
  &:hover img {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  }
}

.wl-about-team-homepage {
  background-color: rgba($wl-orange, 0.1);
  color: $wl-orange;
  margin-top: -8rem;
  margin-bottom: -8rem;
  padding: 2rem;
  padding-top: 10rem;
  padding-bottom: 12rem;
  position: relative;
  hyphens: auto;
  @media (min-width: $breakpoint-small) {
    padding: 0;
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
  .uk-grid-match {
    > div:first-child {
      font-size: 1.2rem;
      @media (min-width: $breakpoint-small) {
        font-size: 1.5rem;
      }
    }
    > div:last-child {
      margin-top: 2rem;
      @media (min-width: $breakpoint-small) {
        margin-top: auto;
      }
    }
  }
  font-size: 1rem;
  > img {
    position: absolute;
    width: 100%;
  }
}

.wl-inline-svg {
  position: relative;
  svg {
    height: 2ex;
    width: 2ex;
  }
}

footer {
  .wl-footer {
    background-color: $wl-orange;
    color: $wl-white;
    position: relative;
    margin-top: 4em;
    padding-top: 3em;
    padding-bottom: 4em;
    a {
      color: $wl-white;
      text-decoration: underline;
      &:hover {
        color: $wl-blue;
      }
    }
    .wl-footer-items {
      flex-direction: column;
      gap: 2.5em;
      @media (min-width: $breakpoint-small) {
        flex-direction: row;
        gap: 8ex;
      }
    }
    > img {
      position: absolute;
      width: 100%;
    }
  }
  .wl-affiliations {
    margin-top: 2em;
    margin-bottom: 2em;
    > img {
      width: 100%;
    }
  }
}

.wl-team-hero {
  margin-bottom: 2em;
  > img {
    width: 100%;
  }
  background-color: $wl-blue;
  color: $wl-white;
  padding-top: 6em;
  padding-bottom: 6em;
}

.wl-hero-height {
  min-height: 350px;
  max-height: 550px;
}
