// from https://google-webfonts-helper.herokuapp.com/
/* magra-700 - latin */
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url('.{{ (resources.Get "fonts/magra-v14-latin-700.woff2").RelPermalink }}')
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('.{{ (resources.Get "fonts/magra-v14-latin-700.woff").RelPermalink }}')
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* magra-regular - latin */
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url('.{{ (resources.Get "fonts/magra-v14-latin-regular.woff2").RelPermalink }}')
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('.{{ (resources.Get "fonts/magra-v14-latin-regular.woff").RelPermalink }}')
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// 1. Your custom variables and variable overwrites.

$wl-orange: #f0871b;
$wl-blue: #1382bb;
$wl-black: #000;
$wl-white: #fff;
$global-2xlarge-font-size: 1.875rem; // H1
$global-xlarge-font-size: 1.625rem; // H2
$global-large-font-size: 1.312rem; // H3
$global-medium-font-size: 1.125rem; // H4
$base-heading-color: $wl-black;
$base-body-color: $wl-black;
$global-link-color: $wl-blue;
$global-font-family: Magra, sans-serif;
$global-accent-color: $wl-orange;
$offcanvas-bar-width: 320px;
$inverse-global-color: $wl-white;
$navbar-nav-item-text-transform: initial;
$navbar-background: $wl-white;
$navbar-nav-item-color: $wl-black;
$navbar-nav-item-hover-color: $wl-blue;
$navbar-nav-item-active-color: $wl-orange;
$navbar-nav-item-padding-horizontal: 1rem;
$navbar-nav-item-font-size: 1rem;
$navbar-dropdown-nav-font-size: 1rem;
$navbar-dropdown-shift-margin: -10px;
$navbar-dropdown-viewport-margin: 0;
$navbar-dropdown-nav-item-color: $wl-black;
$navbar-dropdown-nav-item-active-color: $wl-orange;
$navbar-dropdown-nav-item-hover-color: $wl-blue;
//$offcanvas-bar-color-mode: light;
//$offcanvas-bar-background: $wl-white;

// 2. Import default variables and available mixins.
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() {
//   color: #000;
// }

// 4. Import UIkit.
@import "../uikit/src/scss/uikit.scss";

.wl-link-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  > li:nth-child(1) {
    border-top-style: solid;
  }
  > li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $wl-black;
    a {
      text-decoration: none;
    }
  }
}

body a {
  color: $wl-black;
  text-decoration: underline;
  &:hover {
    color: $wl-blue;
    svg path {
      fill: $wl-blue;
    }
  }
}

.wl-brush-box {
  border-image-source: url('.{{ (resources.Get "img/border-image-brush.svg").RelPermalink }}');
  border-image-width: 15px;
  border-image-slice: 14 fill;
  border-style: solid;
  border-width: 15px;
  padding: 25px;
  h2 {
    margin-top: 0;
    hyphens: manual;
  }
  div {
    hyphens: auto;
  }
  li {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    position: relative;
    a {
      display: block;
      position: relative;
      .wl-inline-svg {
        position: absolute;
        right: 0;
        svg {
          height: 3ex;
        }
      }
    }
  }
  .wl-double-height li a .wl-inline-svg {
    top: 0.6rem;
    svg {
      height: 4ex;
      width: 4ex;
    }
  }
}

a.wl-arrow-link {
  color: $wl-black;
  text-decoration: none;
}

.wl-person-nav {
  width: 10rem;
  margin-top: 20vw;
  @media (min-width: $breakpoint-small) {
    margin-top: 10rem;
  }
}
.wl-intro {
  > div {
    h1 {
      color: $wl-blue;
      margin-bottom: 0;
      font-size: 1.1rem;
    }
    div.wl-icon {
      text-align: right;
      width: 55px;
    }
    margin-bottom: 2ex;
    @media (min-width: $breakpoint-small) {
      h1 {
        font-size: $global-large-font-size;
      }
      div.wl-icon {
        width: 70px;
      }
    }
    @media (min-width: $breakpoint-medium) {
      h1 {
        font-size: $global-2xlarge-font-size;
      }
      div.wl-icon {
        width: 150px;
      }
    }
  }
}
.wl-team-pick-homepage {
  a:last-child {
    display: none;
    @media (min-width: $breakpoint-small) {
      display: block;
    }
  }
}
.wl-intro-block {
  hyphens: auto;
  padding: 0 2.4rem;
  margin-top: -10ex;
  z-index: 10;
  div > p {
    font-size: $global-large-font-size;
  }
  @media (min-width: $breakpoint-small) {
    div > p {
      font-size: $global-xlarge-font-size;
    }
  }
}
.wl-person-teaser {
  text-align: center;
  h3 {
    margin-bottom: 0ex;
    margin-top: 4ex;
    font-size: 1rem;
    @media (min-width: $breakpoint-small) {
      font-size: $global-medium-font-size;
    }
  }
  img {
    width: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.05s ease-in-out;
  }
}

.wl-about-team-homepage {
  background-color: rgba($wl-orange, 0.1);
  color: $wl-orange;
  margin-top: -8rem;
  margin-bottom: -13vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  hyphens: auto;
  @media (min-width: $breakpoint-small) {
    padding-top: 16rem;
    padding-bottom: 14rem;
  }
  @media (min-width: $breakpoint-medium) {
    padding-top: 16rem;
    padding-bottom: 14rem;
    margin-bottom: -13rem;
  }
  .uk-grid-match {
    > div:first-child {
      font-size: 1.2rem;
      @media (min-width: $breakpoint-small) {
        font-size: 1.5rem;
      }
    }
    > div:last-child {
      margin-top: 2rem;
      @media (min-width: $breakpoint-small) {
        margin-top: auto;
      }
    }
  }
  font-size: 1rem;
  > img {
    position: absolute;
    width: 100%;
  }
}

.wl-inline-svg {
  position: relative;
  svg {
    height: 2ex;
    width: 2ex;
  }
}

footer {
  .wl-footer {
    background-color: $wl-orange;
    color: $wl-white;
    position: relative;
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    a {
      color: $wl-white;
      &:hover {
        color: $wl-white;
      }
    }
    > img {
      position: absolute;
      width: 100%;
    }
  }
  .wl-affiliations {
    margin-top: 2em;
    margin-bottom: 2em;
    > img {
      width: 100%;
    }
  }
}

.wl-team-hero {
  margin-bottom: 2em;
  padding-top: 3ex;
  padding-bottom: 3ex;
  font-size: $global-large-font-size;
  hyphens: auto;
  background-color: $wl-blue;
  color: $wl-white;
  @media (min-width: $breakpoint-small) {
    font-size: $global-xlarge-font-size;
  }
  > img {
    width: 100%;
  }
}

.wl-hero-height {
  
  @media (min-width: $breakpoint-small) {
    min-height: 350px;
    max-height: 550px;
  }
}

.wl-flyer-body {
  hyphens: auto;
  p:first-child {
    font-size: $global-xlarge-font-size;
    margin-top: 0;
  }
}

.wl-person {
  h3 {
    margin-bottom: 1ex;
  }
  .wl-note {
    font-size: $global-large-font-size;
    margin-top: 2ex;
    margin-bottom: 2ex;
    hyphens: auto;
  }
}

// color settings are necessary because the offcanvas menu
// seems to be invered and I can not find the reseaon for this.
.wl-mobile-menu {
  .uk-offcanvas-bar {
    background-color: $wl-white;
    a {
      color: $wl-black;
    }
    .uk-nav-default {
      .uk-nav-divider {
        border-top-color: $wl-black;
      }

      > li {
        margin-top: 2ex;
        > a {
        color: $wl-blue;
      }}
      .uk-nav-sub {
        > li > a {
          color: $wl-black;
        }
      }
    }
    li.uk-active > a {
      color: $wl-orange;
    }
  }
}
