<footer id="footer">
    <div class="uk-container-expand wl-footer">
        <img alt="brush stroke" src='{{ (resources.Get "img/brush-stroke.svg").RelPermalink }}' style="top: -1vw;width: 100%;" />
        <div class="uk-container uk-padding-large">
            <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1" uk-grid>
                {{ range $.Site.Data.footer }} 
                <div>
                    {{ .column | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
        <img alt="brush stroke" src='{{ (resources.Get "img/brush-stroke.svg").RelPermalink }}' style="bottom: -1vw;width: 100%;" />
    </div>
    <div class="uk-container wl-affiliations">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-3-5 uk-width-2-5@s">
                <a aria-label="SPF Link" href="https://www.spf-fachverband.ch"><img alt="SPF Logo" src='{{ (resources.Get "img/spf-logo.svg").RelPermalink }}' /></a>
            </div>
            <div class="uk-width-4-5 uk-width-1-2@s">
                <a aria-label="Avenir-Social Link" href="https://www.avenirsocial.ch"><img alt="Avenir-Social Logo" src='{{ (resources.Get "img/avenir-social-logo.svg").RelPermalink }}' /></a>
            </div>

        </div>

    </div>
</footer>