{{ define "main" }}
<main role="main">
    {{/*  HERO SLIDER ######################################################## */}}
    <div class="uk-cover-container uk-position-relative uk-light" tabindex="-1"
        uk-slideshow="animation: fade; autoplay: true; min-height: 350; max-height: 550">
        <ul class="uk-slideshow-items">
            {{ range (.GetPage "flyer").Sections.ByWeight }}
            {{ with (.Resources.Get "hero.jpg") }}
            {{ $img := .Resize "1500x webp" }}
            <li>
                <img src="data:{{ $img.MediaType }};base64,{{ $img.Content | base64Encode }}" alt="hero slide" uk-cover>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        <a aria-label="zurück" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a aria-label="vorwärts" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>

        <img alt="brush stroke" src='{{ (resources.Get "img/brush-stroke.svg").RelPermalink }}'
            style="position: absolute; bottom: -1vw; width: 100%;" />
    </div>
    {{/*  INTRO TEXT  ####################################################### */}}
    <div class="uk-container wl-intro-block">
        <div class="uk-grid-match" uk-grid>
            <div class="uk-width-1-1 uk-width-2-3@m">
                <div class="uk-card uk-padding uk-padding-remove-bottom uk-background-default">
                {{.Content}}
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-1-3@m uk-text-right uk-margin-auto-top uk-padding uk-padding-remove-right">
                <a class="wl-arrow-link" href="#footer" uk-scroll>{{ $.Site.Data.strings.kontakt_aufnehmen }} &nbsp; <span
                        class="wl-inline-svg">{{
                        (resources.Get "img/arrow-right.svg").Content | safeHTML }}</span></a>
            </div>
        </div>
    </div>
    {{/*  FLYER EXCEPTS ###################################################### */}}
    <div class="uk-container uk-position-relative uk-position-z-index">
        <div class="uk-child-width-1-2@s" uk-grid uk-height-match="target: .wl-intro">
            {{ with .GetPage "flyer" }}
            {{ range .Sections.ByWeight }}
            <div>
                <div class="wl-brush-box">
                    <div class="wl-intro">
                        <div class="uk-flex uk-flex-between uk-flex-bottom">
                            <div>
                                <h1>{{ .Title | safeHTML }}</h1>
                            </div>
                            <div class="wl-icon">
                                {{ with (.Resources.Get "icon.png") }}
                                {{ $img := .Fit "150x80 webp icon" }}
                                <img src="data:{{ .MediaType}};base64,{{ $img.Content | base64Encode }}"
                                    alt="{{ .Title }} icon" />
                                {{ end }}
                            </div>

                        </div>
                        <div>{{ .Params.intro }}</div>
                    </div>
                    <ul class="wl-link-list">
                        {{ range .Pages.ByWeight }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}
                                <span class="wl-inline-svg">{{
                                    (resources.Get "img/arrow-right.svg").Content | safeHTML }}</span>
                            </a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    {{/*  ABOUT THE TEAM ###################################################### */}}
    <div class="uk-container-expand wl-about-team-homepage">
        <img alt="brush stroke" src='{{ (resources.Get "img/brush-stroke.svg").RelPermalink }}' style="top: -1vw;width: 100%;" />
        {{ with .GetPage "team" }}
        <div class="uk-container uk-padding">
            <div class="uk-grid-match" uk-grid>
                <div class="uk-width-2-3@s">
                    {{ .Content }}
                </div>
                <div class="uk-width-1-3@s uk-text-right">
                    <a class="wl-arrow-link" href="{{ .RelPermalink }}">{{ $.Site.Data.strings.gesamtes_team }} &nbsp; <span
                            class="wl-inline-svg">{{
                            (resources.Get "img/arrow-right.svg").Content | safeHTML }}</span></a>
                </div>
            </div>
        </div>
        {{ end }}
        <img alt="brush stroke" src='{{ (resources.Get "img/brush-stroke.svg").RelPermalink }}' style="bottom: -1vw;width: 100%;" />
    </div>
    {{/* THE TEAM ############################################################# */}}
    <div class="wl-team-pick-homepage uk-container uk-padding uk-position-relative uk-position-z-index">
        {{ with .GetPage "team" }}
        <script>
        let staff = [];
        let pers;
        //{{ range .Pages }}
        pers = {
            "name": "{{ .Title }}",
            "role": "{{ .Params.role }}",
            "link": "{{ .RelPermalink }}"
        };
        //   {{ with .Parent.Resources.Get (print .File.TranslationBaseName ".jpg") }}
        //      {{ $img := .Fill "746x852 webp" }}
        pers.img = "{{ $img.RelPermalink }}";
        staff.push(pers);
        //  {{ end }}
        //{{ end }}
        </script>
        {{ end }}
        <div class="uk-child-width-1-3@s uk-child-width-1-2" uk-grid>
        <script>
            let shuffle = (array) => {
                let currentIndex = array.length, temporaryValue, randomIndex;

                while (0 !== currentIndex) {
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;

                    temporaryValue = array[currentIndex];
                    array[currentIndex] = array[randomIndex];
                    array[randomIndex] = temporaryValue;
                }

                return array;
            }
            document.write(shuffle(staff).slice(0, 3).map((person) => {
                return `
                    <a href=".${person.link}" class="uk-link-reset">
                        <div class="wl-person-teaser">
                            <div class="">
                                <img class="" src=".${person.img}" alt="${person.name} icon" />
                            </div>
                            <h3>${person.name}</h3>
                            <div>${person.role}</div>
                        </div>
                    </a>
                `
            }).join(''));
        </script>
        </div>
    </div>
    {{ if $.Site.Data.references }}
    {{/*  REFERENCES ########################################################## */}}
    <div class="uk-container uk-padding uk-position-relative">
        <h2>Referenzen</h2>
        <div class="uk-grid-large uk-flex-middle uk-grid-match uk-child-width-1-6@s uk-child-width-1-3" uk-grid>
        {{ range $.Site.Data.references }}
            <div class="wl-reference-img">
                    <img {{ if .scale }}style="transform: scale({{ .scale }})"{{ end }} src='{{ (resources.Get (print "img/" .logo)).RelPermalink }}'
                         alt="{{ .name }} Logo" title="{{ .name }}"/>
                </a>
            </div>
        {{ end }}
    </div>
    {{ end }}
</main>
{{ end }}